# OS junk
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/

# Dependency directories
node_modules/
vendor/

# Build outputs
dist/
build/
bin/

# Logs and environment configs
*.log
.env
**/.env
